# -*- coding: utf-8 -*-
# vim:fenc=utf-8 ff=unix ft=gitconfig
## vim
/backup/*
/dict/*
/memo/*
/swap/*
/undo/*
/view/*

# system local setting
/rc/*.vim
# vim info
/info

# need not ignore
!.gitkeep
!needcopy.txt

# EOF
